@charset "utf-8";
/* header */
.gate {
    background: #fff;
    
}

.btn {
    width: 10px;
    height: 10px;
    color: #fff;
    background-color: #6ba7eb;
    margin: 15px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 3s;
}

.inner {
    max-width: 1100px;
    margin: 0 auto;
}

.header-menu {
    display: flex;
}

nav i {
    margin: 0 20px;
}

nav a {
    margin: 100px;
}


.btn:hover{
    opacity: 1;

}

.i {
    color: #777;
    margin: 15px;
}

/* .keyvisual */

.keyvisual {
    width: 100%;
    height: 100%;
    /* margin: 400px; */
    padding: 400px 0;
    background-image: url('../images/keyvisual/keyvisual.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.maincontainer {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

h1 {
    margin: 10px 0;
    line-height: 1.5;
}


/* news */

.news {
    background-color: #e3f2fd;
    /* margin-top: 50px; */
}

h3 {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: right;
}

p {
    font-size: 15px;
    line-height: 18px;
    word-break: break-all;
}


/* .skills-inner h1 {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
}

.skills-inner p {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
} */

/* skills */
h4 {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.skills-inner {
    width: 100%;
    max-width: 1100px;
}

main {
    background-image: url('images/keyvisual/keyvisual.jpg');
}

.skills-ul {
    display: flex;
    width: 300;
    height: 300;
    hspace: 100px;
    vspace: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    opacity: 0.7;
    transition: all 1s;
}

.skills {
    display: flex;
}

/* .plan */
h5 {
    margin-top: 20px;
    margin-bottom: 35px;
    /* padding-top: 20px;
    padding-bottom: 35px; */
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
}

.plan {
    background-color: #d0dfea;
    padding : 50px 0;
    width: 100;
}
.dinner {
    padding: 10px;
    background-color: #6ba7eb;
    font-size: 16px;
    height: 26px;
    border-left: 2px solid #fff;
}

/* .sns */
.sns {
    opacity: 0.5;
    background-color: #e3f2fd;
    /* margin: 200px 0; */
    padding: 200px 0;

}

.snsnav {
    width: 185px;
    padding : 25px 0;
    color: #8c8c8c;
    overflow: hidden;
    font-size: 40px;
}

/* footer */
.close {
    background-color: #cfd8dc;
}

h6 {
    padding: 25px 0;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-align: left;
}
