@charset "utf-8";
.header {
    background: #fff;
}

.btn {
    width: 10px;
    height: 10px;
    color: #fff;
    background-color: #6ba7eb;
    margin: 15px;
    cursor: pointer;
    opacity: 0.8;
}

.maincontainer {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
}

.subcontainer {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.btn:hover{
    opacity: 1;

}

.i {
    color: #777;
    margin: 15px;
}

.keyvisual {
    margin: 400px;
    padding: 30px;
}

.skills-inner h1 {
    font-size: 65px;
    font-weight: 700;
    color: #6ba7eb;
}

.skills-inner p {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.skills-inner {
    width: 1100px;
    max-width: 100%;
}

main {
    background-image: url('images/keyvisual/keyvisual.jpg');
}

.skills-ul {
    display: flex;
    width: 300;
    height: 300;
    hspace: 100px;
    vspace: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.skills {
    display: flex;
}