/* max-width: 1199px のブレイクポイントで上下の余白を250pxに設定 */
@media (max-width: 1199px) {
    .keyvisual {
      padding: 250px 0; 
    }

    /* news */
    .news {
      padding: 50px 0;
    }

    .news-box {
      display: block; /* 横並びを解除して縦に並べる */
    }

    .news-box img {
      display: block; /* 画像をブロック要素にして縦並びにする */
      /* margin-bottom: 20px; 画像間に間隔をつける */
      width: 100%; /* 必要に応じて画像の幅を調整 */
      height: auto; /* 高さを自動調整 */
    }
  }
